<div class="container custom">
    <img src="../../../assets/compete.jpg" alt="img">

    <hr>

    <h5>Present Coding Contests</h5>
    <table class="table table-primary">
        <thead class="table-dark">
            <tr>
                <th scope="col">CODE</th>
                <th scope="col">NAME</th>
                <th scope="col">START</th>
                <th scope="col">DURATION</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-secondary">
                <th scope="row" colspan="4">No contest in-progress.</th>
            </tr>
        </tbody>
    </table>
    <hr>
    <h5>Upcoming Coding Contests</h5>
    <table class="table table-primary">
        <thead class="table-dark">
            <tr>
                <th scope="col">CODE</th>
                <th scope="col">NAME</th>
                <th scope="col">START</th>
                <th scope="col">DURATION</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-secondary">
                <th scope="row">1</th>
                <td>Starters 64</td>
                <td>09 Nov 2022
                    Wed 20:00</td>
                <td>3 hours </td>
            </tr>
            <tr class="table-secondary">
                <th scope="row">2</th>
                <td>Starters 65</td>
                <td>12 Nov 2022
                    Sat 20:00</td>
                <td>3 hours </td>
            </tr>
            <tr class="table-secondary">
                <th scope="row">3</th>
                <td>Starters 66</td>
                <td>16 Nov 2022
                    Wed 20:00</td>
                <td>3 hours </td>
            </tr>
        </tbody>
    </table>
    <hr>
    <h5>Past Coding Contests</h5>
    <table class="table table-primary">
        <thead class="table-dark">
            <tr>
                <th scope="col">CODE</th>
                <th scope="col">NAME</th>
                <th scope="col">START</th>
                <th scope="col">DURATION</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-secondary">
                <th scope="row">1</th>
                <td>Starters 64</td>
                <td>09 Nov 2022
                    Wed 20:00</td>
                <td>3 hours </td>
            </tr>
            <tr class="table-secondary">
                <th scope="row">2</th>
                <td>Starters 65</td>
                <td>12 Nov 2022
                    Sat 20:00</td>
                <td>3 hours </td>
            </tr>
            <tr class="table-secondary">
                <th scope="row">3</th>
                <td>Starters 66</td>
                <td>16 Nov 2022
                    Wed 20:00</td>
                <td>3 hours </td>
            </tr>
        </tbody>
    </table>
</div>