<div class="container custom">
    <img src="../../../assets/compete.jpg" alt="img">

    <hr>

    <h1>Present Coding Contests</h1>
    <!-- table -->
    <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter1($event)" placeholder="Enter Contest" #input>
    </mat-form-field>

    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource1" matSort>

            <!-- ID Column -->
            <ng-container matColumnDef="code">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    <h3> Contest Code </h3>
                </th>
                <td mat-cell *matCellDef="let row">
                    <span class="mx-3"> {{row.code | uppercase}} </span>
                </td>
            </ng-container>

            <!-- Progress Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    <h3> Contest Name </h3>
                </th>
                <td mat-cell *matCellDef="let row"> {{row.name}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="startDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    <h3> Start </h3>
                </th>
                <td mat-cell *matCellDef="let row"> {{row.startDate | date:'d MMM yyyy  EEE hh:mm'}} </td>
            </ng-container>

            <!-- Fruit Column -->
            <ng-container matColumnDef="duration">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    <h3> Duration </h3>
                </th>
                <td mat-cell *matCellDef="let row"> {{row.duration}} Hrs </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns1;" (click)="gotoContest(row.code)"></tr>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" aria-label="Select page of users"></mat-paginator>
    </div>

    <hr>

    <h1>Upcoming Coding Contests</h1>
    <!-- table -->
    <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter2($event)" placeholder="Enter Contest" #input>
    </mat-form-field>

    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource2" matSort>

            <!-- ID Column -->
            <ng-container matColumnDef="code">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    <h3> Contest Code </h3>
                </th>
                <td mat-cell *matCellDef="let row">
                    <span class="mx-3"> {{row.code | uppercase}} </span>
                </td>
            </ng-container>

            <!-- Progress Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    <h3> Contest Name </h3>
                </th>
                <td mat-cell *matCellDef="let row"> {{row.name}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="startDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    <h3> Start </h3>
                </th>
                <td mat-cell *matCellDef="let row"> {{row.startDate | date:'d MMM yyyy  EEE hh:mm'}} </td>
            </ng-container>

            <!-- Fruit Column -->
            <ng-container matColumnDef="duration">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    <h3> Duration </h3>
                </th>
                <td mat-cell *matCellDef="let row"> {{row.duration}} Hrs </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns2" ></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns2;" (click)="gotoContest(row.code)"></tr>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" aria-label="Select page of users"></mat-paginator>
    </div>

    <hr>

    <h1>Past Coding Contests</h1>
    <!-- table -->
    <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter3($event)" placeholder="Enter Contest" #input>
    </mat-form-field>

    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource3" matSort>

            <!-- ID Column -->
            <ng-container matColumnDef="code">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    <h3> Contest Code </h3>
                </th>
                <td mat-cell *matCellDef="let row">
                    <span class="mx-3"> {{row.code | uppercase}} </span>
                </td>
            </ng-container>

            <!-- Progress Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    <h3> Contest Name </h3>
                </th>
                <td mat-cell *matCellDef="let row"> {{row.name}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="startDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    <h3> Start </h3>
                </th>
                <td mat-cell *matCellDef="let row"> {{row.startDate | date:'d MMM yyyy  EEE hh:mm'}} </td>
            </ng-container>

            <!-- Fruit Column -->
            <ng-container matColumnDef="duration">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    <h3> Duration </h3>
                </th>
                <td mat-cell *matCellDef="let row"> {{row.duration}} Hrs </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns3"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns3;" (click)="gotoContest(row.code)"></tr>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" aria-label="Select page of users"></mat-paginator>
    </div>

    <hr>
</div>