<!-- Sliders -->
<div class="container" id="home" style="margin-top: 7%;">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item">
                <img src="assets/img3.jpg" class="d-block w-100" alt="img">
            </div>
            <div class="carousel-item active">
                <img src="assets/img1.jpg" class="d-block w-100" alt="img">
            </div>
            <div class="carousel-item">
                <img src="assets/img2.png" class="d-block w-100" alt="img">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>




<!-- Practice Section -->
<div id="practice" class="custom-section">
    <div class="container">
        <div class="custom-section-in">
            <h2 style="margin-bottom: 40px;"><span class="head">Practice</span></h2>

            <div class="customListContainer">
                <div class="listItem">
                    <div class="listIcon">
                        <i class="i-practice"></i>
                    </div>
                    <div class="listContent">
                        <div class="listItemHeader">
                            <p class="listTitle">Problems for everyone</p>
                        </div>
                        <div class="listItemBody">
                            <p class="listText">Includes Beginners to Experienced programmers</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="customListContainer">
                <div class="listItem">
                    <div class="listIcon">
                        <i class="i-practice"></i>
                    </div>
                    <div class="listContent">
                        <div class="listItemHeader">
                            <p class="listTitle">3000+ Problems</p>
                        </div>
                        <div class="listItemBody">
                            <p class="listText">Practice more than 3000 problems across varying Difficulty ratings and
                                Popular topics.</p>
                        </div>
                    </div>
                </div>
            </div>

            <a class="blueButton MT-32" routerLink="/practice">Go To Practice
                <i class="i-right-arrow-white-no-tail l-margin-left-15"></i>
            </a>
        </div>
    </div>
</div>



<!-- Compete Section -->
<!-- <div id="compete" class="">
    <div class="container">
        <div class="custom-section-in">
            <h2 style="margin-bottom: 40px;"><span class="head">Compete</span></h2>

            <div class="customListContainer">
                <div class="listItem">
                    <div class="listIcon">
                        <i class="i-home-compete"></i>
                    </div>
                    <div class="listContent">
                        <div class="listItemHeader">
                            <p class="listTitle">Rated Contests</p>
                        </div>
                        <div class="listItemBody">
                            <p class="listText">Includes Beginners to Experienced programmers</p>
                            <p class="listText">Participate in 6+ contests each month, on every Wednesday and the
                                Weekends</p>
                            <p class="listText">Four distinct Divisions grouping similarly skilled programmers together
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <a class="blueButton MT-32" routerLink="/compete">Go To Contests
                <i class="i-right-arrow-white-no-tail l-margin-left-15"></i>
            </a>
        </div>
    </div>
</div> -->



<!-- IDE Section -->
<div id="ide" class="blue-section">
    <div class="container">
        <div class="custom-section-in">
            <h2 style="margin-bottom: 40px;"><span class="head">Online IDE</span></h2>

            <div class="d-flex space-between">
                <div class="customListContainer">
                    <div class="listItem">
                        <div class="listIcon">
                            <i class="i-home-compete"></i>
                        </div>
                        <div class="listContent">
                            <div class="listItemHeader">
                                <p class="listTitle">IDE for Practice</p>
                            </div>
                            <div class="listItemBody">
                                <p class="listText">We now support 4 popular coding languages</p>
                                <p class="listText">At our core, CodeGiri is about programmers</p>
                                <p class="listText">Our powerful online ide help you test, debug and even write your own
                                    codes online</p>
                            </div>
                        </div>
                    </div>
                    <a class="blueButton MT-32" routerLink="/ide">Go To IDE
                        <i class="i-right-arrow-white-no-tail l-margin-left-15"></i>
                    </a>
                </div>
                <div>
                    <img style="float: right;" src="assets/ide.jpg" alt="img" class="img">
                </div>
            </div>
        </div>
    </div>
</div>