<div class="container custom-container">
    <div class="heading">
        <h1 class="text-center">{{title}}</h1>
    </div>

    <div class="table">
        <!-- table -->
        <mat-form-field>
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Enter Problem" #input>
        </mat-form-field>

        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort>

                <!-- ID Column -->
                <ng-container matColumnDef="contestCode">
                    <th class="table-head" mat-header-cell *matHeaderCellDef mat-sort-header>
                        <h3> Contest Code </h3>
                    </th>
                    <td class="fonts" mat-cell *matCellDef="let row">
                        <span class="mx-3"> {{row.contestCode | uppercase}} </span>
                    </td>
                </ng-container>

                <!-- Progress Column -->
                <ng-container matColumnDef="name">
                    <th class="table-head" mat-header-cell *matHeaderCellDef mat-sort-header>
                        <h3> Problem Name </h3>
                    </th>
                    <td class="fonts" mat-cell *matCellDef="let row" style="color: #2A67B1;cursor: pointer;"
                        (click)="gotoProblem(row._id)"><a> {{row.name}} </a></td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="difficulty">
                    <th class="table-head" mat-header-cell *matHeaderCellDef mat-sort-header>
                        <h3> Difficulty </h3>
                    </th>
                    <td class="fonts" mat-cell *matCellDef="let row"> {{row.difficulty}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="solve">
                    <th class="table-head" mat-header-cell *matHeaderCellDef mat-sort-header>
                        <h3> Solve </h3>
                    </th>
                    <td class="fonts" mat-cell *matCellDef="let row">
                        <button (click)="gotoProblem(row._id)" mat-mini-fab color="primary"
                            aria-label="Example icon button with a menu icon">
                            <mat-icon>navigate_next</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="gotoProblem(row._id)"></tr>

                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                    <td class="fonts" class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                </tr>
            </table>

            <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" aria-label="Select page of users"></mat-paginator>
        </div>

    </div>
</div>