


<!-- <ng-component *ngIf="prob"> -->
<div class="container-fluid custom">
    <div class="container head">
        <h2 class="text-center">Practice</h2>
        <h6 class="text-center">This is the place to hone your skills</h6>
    </div>
    <hr>
    <div class="container">

        <br>
        <h5>Practice Problems</h5>
        <table class="table table-primary">
            <thead class="table-dark">
                <tr>
                    <th scope="col">CODE</th>
                    <th scope="col">NAME</th>
                    <th scope="col">DIFFICULTY</th>
                    <th scope="col">SUBMISSIONS</th>
                </tr>
            </thead>
            <tbody>
                <tr class="table">
                    <th scope="row">TASTEDEC</th>
                    <td><a routerLink="/p1" (click)="send()">Tasty Decisions</a> 
                    </td>
                    <td>Easy</td>
                    <td>19193</td>
                </tr>
            </tbody>
            <tbody>
                <tr class="table">
                    <th scope="row">CHEFSCORE</th>
                    <td><a routerLink="/p2" (click)="send()">Test Score</a>
                    </td>
                    <td>Easy</td>
                    <td>19193</td>
                </tr>
            </tbody>
            <tbody>
                <tr class="table">
                    <th scope="row">XJUMP</th>
                    <td><a routerLink="/p3" (click)="send()">X Jumps</a>
                    </td>
                    <td>Easy</td>
                    <td>19193</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- </ng-component> -->