<div class="container custom">
    <h3 class="text-center">Code, Compile & Run</h3><br>
    <p class="text-center">Compile & run your code with the CodeGiri online IDE.</p>
    <p class="text-center">online compiler supports multiple programming languages like C++, Java & Python.</p>
    <!-- <iframe style='max-width:100%; border: none; height: 375px; width: 700px;' height=375 width=700 src='https://www.interviewbit.com/embed/snippet/9d6ce15531daaaf27473' title='Interviewbit Ide snippet/9d6ce15531daaaf27473' loading="lazy" allow="clipboard-write" allowfullscreen referrerpolicy="unsafe-url" sandbox="allow-scripts allow-same-origin allow-popups allow-top-navigation-by-user-activation allow-popups-to-escape-sandbox"></iframe> -->
    <!-- <iframe style='max-width:100%; border: none; height: 375px; width: 1100px;' height=375 width=1100 src='https://www.interviewbit.com/embed/snippet/9d6ce15531daaaf27473' title='Interviewbit Ide snippet/9d6ce15531daaaf27473' loading="lazy" allow="clipboard-write" allowfullscreen referrerpolicy="unsafe-url" sandbox="allow-scripts allow-same-origin allow-popups allow-top-navigation-by-user-activation allow-popups-to-escape-sandbox"></iframe> -->
    <form [formGroup]="CodeDesc">
        <label for="cmd" class="form-label">Select Language</label>
        <select class="form-select" aria-label="Default select example" formControlName="cmd">
            <option selected value="g++">CPP</option>
            <option value="jdk">Java</option>
            <option value="py">Python</option>
        </select>

        <div class="mb-3 mt-3">
            <label for="code" class="form-label">Code Here:</label>
            <textarea class="form-control editor" rows="15" cols="50" id="code" placeholder="Write Your Code Here"
                formControlName="code"></textarea>
        </div>
        <div class="mb-3 mt-3">
            <label for="input" class="form-label">Input :</label>
            <textarea cols="31" class="form-control" id="input" aria-describedby="emailHelp"
                placeholder="Enter Input" formControlName="input"></textarea>
        </div>
        <div class="mb-3 mt-3">
            <label for="output" class="form-label">Output :</label>
            <textarea class="form-control" id="output" aria-describedby="emailHelp" placeholder="Your Output"
            [value]="OutputData"></textarea>
        </div>
        <div class="btns">
            <button mat-stroked-button style="color: blue;" class="mx-2" (click)="compile()">Run</button>
            <!-- <button class="btn btn-outline-primary mx-2" (click)="compile()">Run</button> -->
        </div>
    </form>
</div>
