mat-grid-tile {
    background: lightblue;
  }

.box{
    display: flex;
}

.inputs{
    display: flex;
    justify-content: space-evenly;
}

.left{
    width: 50vw;
    background-color: rgb(255, 255, 255);
}
.right{
    width: 50vw;
    background-color: rgb(214, 195, 195);
    margin-top: 10em;
}

.right iframe{
    margin-top: 10em;
}

.box h1{
    margin-top: 4em;
}

.btns{
    float: right;
}