mat-grid-tile {
    background: lightblue;
  }

.header{
    margin-top: 115px;
}

.header-items{
    display: flex;
    align-items: baseline;
    padding: 0 25px;
}

.items {
    padding: 0 30px;
}

.box{
    display: flex;
}

.inputs{
    display: flex;
    justify-content: space-evenly;
}

.left{
    width: 50vw;
    background-color: rgb(255, 255, 255);
    overflow: auto;
    height: 70vh;
}

.left p{
    font-size: medium;
    white-space: break-spaces;
}

.left h2{
    padding-top: 15px;
}

.right{
    width: 50vw;
    background-color: rgb(255, 255, 255);
    overflow: auto;
    height: 70vh;
}

.input{
    width: 20vw;
    border-right: 1px solid rgba(0, 0, 0, 0.22);
    background-color: #f6f9fc;
}

.constraints{
    background-color: #f6f9fc;
    padding: 2px;
}

.input h4,.output h4{
    padding: 2px;
    padding-top: 2px;
}

.output{
    width: 20vw;
    border-left: 1px solid rgba(0, 0, 0, 0.22);
    background-color: #f6f9fc;
}

.editor{
    background-color: black;
    color: white;
}

.right iframe{
    margin-top: 10em;
}

.btns{
    float: right;
    margin-bottom: 3px;
}

.cases{
    margin-top: 80px;
}

.c{
    background-color: #00800094;
    padding: 15px;
    margin: 15px 0px;
    border: 1px solid black;
}

.w{
    background-color: #ff000070;
    padding: 15px;
    margin: 15px 0px;
    border: 1px solid black;
}